# Basics of Python

### Q1. Create one variable containing following type of data: 
### (i) string 
### (ii) list 
### (iii) float 
### (iv) tuple

## Ans:

In [1]:
# (i) String
a = 'PW Data Science'
# (ii) List
b = [1,2,3,4]
# (iii) Float
c = 3.145
# (iv) Tuple
d = (1,2,3)

# Variable that contains all the above datatype:
# 1st element is a string
# 2nd element is a list
# 3rd element is a float
# 4th element is a tuple
e = ['PW',[1,2,3],3.145,(1,2,3)]

In [2]:
print('a = ',a)
print('b = ',b)
print('c = ',c)
print('d = ',d)
print('e = ',e)

a =  PW Data Science
b =  [1, 2, 3, 4]
c =  3.145
d =  (1, 2, 3)
e =  ['PW', [1, 2, 3], 3.145, (1, 2, 3)]

## Q2. Given are some following variables containing data: 
## (i) var1 = ' ' 
## (ii) var2 = '[ DS , ML , Python]' 
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
## (iv) var4 = 1. 
## What will be the data type of the above given variable.

## Ans: 
## (i) Empty string 
## (ii) string 
## (iii) list 
## (iv) float

## Q3. Explain the use of the following operators using an example:
## (i) /
## (ii) %
## (iii) //
## (iv) **

## Ans:

## (i) / :-- It is a division operator. Use to divide two number.
## 7/2 will give 3.5

In [3]:
7/2

3.5

## (ii) % :-- It is modulus operator. Gives remainder after division operation. Eg:
## 7%2 then remainder will be 1

In [4]:
7%2

1

## (iii)// :-- Floor division operator. It can be used to divide two numbers and get the result in which the quotient is rounded down to the nearest integer value. Eg: 
## 7//2 will give 3

In [6]:
7//2

3

## (iv) ** :-- Exponentiation operator. Gives exponential value.
## 7**2 will give 49

In [7]:
7**2

49

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

## Ans:

In [8]:
lst = [56, 3.145, 'Khanjan', (3+4j), [1,2,3],(1,2,3)]
for element in lst:
    print(element,': Type -->', type(element))

56 : Type --> <class 'int'>
3.145 : Type --> <class 'float'>
Khanjan : Type --> <class 'str'>
(3+4j) : Type --> <class 'complex'>
[1, 2, 3] : Type --> <class 'list'>
(1, 2, 3) : Type --> <class 'tuple'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

## Ans:

In [13]:
A = int(input('Enter the number for A:'))
C = A
B = int(input('Enter the number for B:'))
count = 0
if C % B == 0:
    while C >= B:
        count += 1
        C -= B    
    print('A is purely divisible by B ',count,'times.')
else:
    print('A is not purely divisible by B.')

Enter the number for A: 7
Enter the number for B: 2

A is not purely divisible by B

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

## Ans:

In [19]:
lst1 = []
n = int(input('Enter the number of values to generated:'))
for i in range(1,n+1):
    lst1.append(i)
for ele in lst1:
    if ele % 3 == 0:
        print(ele,' is divisible by 3.')
    else:
        print(ele,' is not divisible by 3.')

Enter the number of values to generated: 25

1  is not divisible by 3.
2  is not divisible by 3.
3  is divisible by 3.
4  is not divisible by 3.
5  is not divisible by 3.
6  is divisible by 3.
7  is not divisible by 3.
8  is not divisible by 3.
9  is divisible by 3.
10  is not divisible by 3.
11  is not divisible by 3.
12  is divisible by 3.
13  is not divisible by 3.
14  is not divisible by 3.
15  is divisible by 3.
16  is not divisible by 3.
17  is not divisible by 3.
18  is divisible by 3.
19  is not divisible by 3.
20  is not divisible by 3.
21  is divisible by 3.
22  is not divisible by 3.
23  is not divisible by 3.
24  is divisible by 3.
25  is not divisible by 3.

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

## Ans:

### Mutable data type

A mutable data type in programming refers to an object or data structure whose contents can be modified after it has been created. This means that you can change the value of the object without needing to create a new instance of it. In Python, lists and dictionaries are examples of mutable data types. Eg.

In [21]:
list1 = [1, 2, 3, 4]
list1[2] = 9
list1

[1, 2, 9, 4]

In [ ]:
### Mutable data type

An immutable data type in programming refers to an object or data structure whose contents cannot be changed after it has been created. Once an immutable object is created, its value cannot be modified. In Python, examples of immutable data types include strings, integers, and tuples.