# Lambda, Map, Filter, Reduce

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

## Ans:

In [1]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_list = sorted(lst,key = lambda x:x[1])
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Ans:

In [2]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square = lambda x:x**2
sq_lst = list(map(square,lst1))
print(sq_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] \
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Ans:

In [3]:
lst2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
int_to_str = lambda x:str(x)
str_tup = tuple(map(int_to_str,lst2))
print(str_tup)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

## Ans:

In [5]:
from functools import reduce
lst3 = [x for x in range(1,26)]
print(lst3)
a = reduce(lambda x,y:x*y,lst3)
print('Product of all the numbers:',a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
Product of all the numbers: 15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [12]:
lst4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
a = list(filter(lambda x: x % 2 ==0 and x % 3 == 0,lst4))
print(a)

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [18]:
lst5 = ['python', 'php', 'aba', 'radar', 'level']
b = list(filter(lambda x: x == x[::-1],lst5))
print(a)

[6, 60, 90, 120]