## Q1. What is a database? Differentiate between SQL and NoSQL databases.

## Ans:

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information. The differences between SQL and NoSQL databases are:

1. SQL has defined schema with rigid structure. On the other hand NoSQL has no fixed schema, making them adaptable to changing data structures.

2. SQL databases use SQL (Structured Query Language) for querying and manipulating data. SQL provides a standardized way to interact with the database. On the other hand, Different NoSQL databases use different query languages or APIs, as there's no standardized query language like SQL for all NoSQL databases.

3. SQL databases enforce data integrity through constraints like primary keys, foreign keys, and data types, ensuring accurate and consistent data. On the other hand, NoSQL databases often prioritize scalability and availability over strict data integrity. Some provide eventual consistency rather than immediate consistency.

4. SQL databases use a structured, tabular data model with rows and columns to represent data relationships. On the other hand, NoSQL databases offer various data models, including document-based, key-value, column-family, and graph models, to accommodate diverse data structures.

5. SQL databases support ACID transactions (Atomicity, Consistency, Isolation, Durability), which guarantee data consistency and reliability. On the other hand, NoSQL databases might not provide full ACID transactions, especially in scenarios where availability and partition tolerance take precedence (CAP theorem).

6. SQL databases are generally better suited for vertical scalability (upgrading hardware resources) rather than horizontal scalability. On the other hand, NoSQL databases are designed for horizontal scalability, enabling them to handle massive amounts of data and high traffic loads effectively.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

## Ans:

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define, manage, and manipulate the structure of a database and its objects. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, and views. DDL statements do not manipulate the data within the database; they focus on defining the database's structure.

1. CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, or views. \
CREATE TABLE Employees (\
    EmployeeID INT PRIMARY KEY,\
    FirstName VARCHAR(50),\
    LastName VARCHAR(50),\
    Department VARCHAR(100)\
);

2. DROP: The DROP statement is used to remove existing database objects.\
DROP TABLE Employees;

3. ALTER: The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or dropping columns.\
ALTER TABLE Employees \
ADD Salary DECIMAL(10, 2);

4. TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, effectively resetting the table's data without deleting the table itself. \
TRUNCATE TABLE Employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## Ans:

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate the data stored within the database objects that are defined using DDL (Data Definition Language). DML statements are responsible for adding, modifying, and deleting data in the database tables.

1. INSERT: The INSERT statement is used to add new rows of data into a table.\
INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)\
VALUES (1, 'John', 'Doe', 'Sales');

2. UPDATE: The UPDATE statement is used to modify existing data in a table.\
UPDATE Employees SET Department = 'Marketing' WHERE EmployeeID = 1;

3. DELETE: The DELETE statement is used to remove rows from a table.\
DELETE FROM Employees WHERE EmployeeID = 1;

## Q4. What is DQL? Explain SELECT with an example.

## Ans:

DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL is focused on querying the database to extract specific information that meets certain criteria. The primary DQL statement is the SELECT statement, which allows you to retrieve data from one or more tables based on specified conditions.

SELECT: The SELECT statement is used to retrieve data from one or more tables. It allows you to specify the columns you want to retrieve, conditions to filter data, sorting order, and more.\
SELECT FirstName, LastName, Department FROM Employees WHERE Department = 'Sales';

## Q5. Explain Primary Key and Foreign Key.

## Ans:

1. Primary key:\
A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table. It serves as a unique identifier for the records within the table and ensures data integrity and consistency. Each primary key value must be unique and not null. Primary keys are crucial for establishing relationships between tables and for enforcing data integrity constraints.

2. Foreign Key:\
A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It represents a relationship between the data in the table containing the foreign key and the referenced table. The foreign key column(s) in one table typically reference the primary key column(s) in another table. This relationship helps maintain data integrity and supports the concept of data normalization.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

## Ans:

In [ ]:
import mysql.connector

# Establishing a connection to the MySQL database
# Replace 'username', 'password', 'host', and 'database_name' with appropriate values
connection = mysql.connector.connect(
    user='username',
    password='password',
    host='host',
    database='database_name'
)

# Creating a cursor object
cursor = connection.cursor()

# Executing a SQL query using the execute() method
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetching the result using fetchall() method
result = cursor.fetchall()

# Displaying the fetched data
for row in result:
    print(row)

# Closing the cursor and the connection
cursor.close()
connection.close()

1. cursor():\
The cursor() method is used to create a cursor object. A cursor acts as a control structure that allows us to execute SQL queries and fetch results from the database. It acts as a reference to a specific location within the result set of a query. The cursor object provides methods for executing queries and fetching data.

2. execute(query):\
The execute() method is used to execute an SQL query. It takes an SQL query string as its parameter and executes the query on the database. The query can be a SELECT, INSERT, UPDATE, or any other valid SQL statement. Once the query is executed, the cursor is positioned at the beginning of the result set (if applicable).

## Q7. Give the order of execution of SQL clauses in an SQL query.

## Ans:

The order of execution of SQL clauses is as follows:

1. SELECT: The SELECT clause is used to specify the columns you want to retrieve from the database.

2. FROM: The FROM clause specifies the table(s) from which you want to retrieve the data. This is the source of the data for your query.

3.WHERE: The WHERE clause is used to filter rows based on specified conditions. It narrows down the result set by selecting only the rows that satisfy the given conditions.

    GROUP BY: The GROUP BY clause is used to group the rows in the result set based on one or more columns. It's often used in combination with aggregate functions like SUM, AVG, etc.

    HAVING: The HAVING clause filters the groups created by the GROUP BY clause based on conditions. It's used to further filter the grouped results.

    ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. You can specify the sorting order as ascending (ASC) or descending (DESC).

    LIMIT/OFFSET (Optional): The LIMIT clause restricts the number of rows returned in the result set. In databases that support it, the OFFSET clause can be used to skip a certain number of rows before starting to retrieve rows.